*,
html {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



/*header*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  display: flex;
  align-items: center;
}

header img {
  width: 85px;
  height: 75px;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  list-style-type: none;
}

nav img {
  width: 60px;
  height: 70px;
}

/* main */

/* https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/*/

/*index pagina*/

/*sections*/

#pag1 section {
  padding: 2rem;
}


section p {
  /margin-top: 1rem;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-size: 21px;
}

#pag1 section ul {
  margin-top: .75rem;
  padding-left: 1.5rem;
  font-size: 20px;
  font-weight: 500;
}

#pag1 section li {
  padding-top: 0.5rem;
  font-family: 'Exo', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 300;
  font-size: 2rem;
}

.h2blauw {
  color: #005eb8;
  margin-top: -0.30em;
  text-transform: uppercase;
}

.h2geel {
  color: #fedd00;
  margin-top: -0.30em;
  text-transform: uppercase;
}

.iphone12mini {
  background-color: wheat;
  display: flex;
  flex-direction: column;
}

section .of {
  color: #005eb8;
  font-size: 18px;
  /font-weight: ;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.links1 {
  display: flex;
  flex-direction: column;
}

.simonly {
  color: white;
  background-color: #005eb8;
  /border: solid 1px black;
  display: flex;
  flex-direction: column;
}

.iphone11 {
  color: black;
  background-color: #fedd00;
  display: flex;
  flex-direction: column;
}



/* black friday */




#bf {
  margin-top: 2rem;
}

.bf-deals {
  display: grid;
  grid-template-columns: 35% 1fr;
  margin-top: .25rem;
  padding: 0.5rem;
}

.bfh2 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 70%;
  text-transform: uppercase;
}

.bf-deals ul {
  font-size: 18px;
}

.bf-deals .pgeel {
  font-family: 'Alfa Slab One', cursive;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  padding: 12px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fedd00;
}

.bf-deals .proze {
  font-family: 'Alfa Slab One', cursive;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  padding: 12px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background-color: #d40f7d;
}

.galaxys20 {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.galaxya51 {
  color: white;
  background-color: #005eb8;
  display: flex;
  flex-direction: column;
}

/.internet {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.vriendenvoordeel {
  color: black;
  background-color: #fedd00;
  display: flex;
  flex-direction: column;
}

.links2 {
  background-color: white;

}



/*images*/



.bf-deals img {
  height: 200px;
  width: 200px;
}

.iphone12mini img , .simonly img , .iphone11 img , .galaxya51 img , .galaxys20 img , .vriendenvoordeel img {
  width: 520px;
  height: 50%;
}



/* Button styling*/




#pag1 button {
  margin: 1rem;
  padding: 1.5rem;
  border: 0px;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .5);
}

.buttons {
  margin: 4.5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
}

.buttons a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.b1 {
  margin-bottom: 0;
  background-color: #009fdf;
}

.b2 {
  margin-bottom: 0;
  background-color: #005eb8;
}

.b3 {
  margin-bottom: 0;
  background-color: #d40f7d;
}

.b4 {
  margin-bottom: 0;
  background-color: #702082;
}

#aanbieding1 {
  background-color: #005eb8;
  margin: 1rem
}

#aanbieding1 a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

#aanbieding2 {
  background-color: #005eb8;
  margin: 1rem
}

#aanbieding2 a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.bdonkerblauw {
  margin-bottom: 1rem;
  background-color: #005eb8;
}

.bdonkerblauw a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.bgeel {
  margin-bottom: 1rem;
  background-color: #fedd00;
}

.bgeel a {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.bzwart {
  margin-bottom: 1rem;
  background-color: #1c1c1c
}

.bzwart a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

/* Linkjes */

.nav-list {
  background-color: #1c1c1c;
  border: solid 1px #4b4b4b;
}

#nav-list {
  margin: 2rem 1rem 2rem 1rem;
  color: white;
  background-color: #1c1c1c
}

#nav-list h3 {
  margin: 1rem 0 0 0;
}

#nav-list ul {
  margin: 0;
  padding: 0 0 1rem 0;
  list-style-type: none;
}

#nav-list li {
  padding: 1.25rem 0 0 0;
  font-size: 15px;
  color: grey;
}




/* Footer */

footer {
  background-color: black;
}

footer p {
  padding: 5px;
  font-size: 14px;
  color: gray;
}

.footer {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#copyright {
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}









/* Telefoon pagina*/

/* main */

/* blauw stukje*/

.blauw {
  padding: 1rem;
  background-color: #009fdf;
}

.blauw a {
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  color: white;
}

.div{
  display: flex;
  justify-content: space-between;
}

.blauw h2 {
  margin: 3rem 1rem 0 1rem;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
}




/* section */





#pag2 section:nth-of-type(2) {
  margin: 4rem 1rem 0rem 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
  /background-color: violet;
}

#pag2 section:nth-of-type(2) p {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: .5rem;
}

#pag2 section:nth-of-type(2) a {
  color: #005eb8;
  font-family: 'Exo', sans-serif;
}

#pag2 section:nth-of-type(3) .hoofdfoto {
  margin: 0 .5rem 1rem 1rem;
  width: 300px;
  height: 50%;
}

#pag2 section:nth-of-type(3) {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

#pag2 section:nth-of-type(3) li img {
  width: 40px;
  height: 50%;
}

#pag2 section:nth-of-type(3) li {
  margin-top: .5rem;
  padding: .5rem;
  list-style-type: none;
}

#pag2 section:nth-of-type(3) .omlijnd {
border: 2px solid #009fdf;
border-radius: 10px;
}

#pag2 section:nth-of-type(3) li:hover {
border: 2px solid #009fdf;
border-radius: 10px;
transition: .25s ease-in-out; 
}

#pag2 section:nth-of-type(4) {
  display: flex;
  justify-content: center;
}

#pag2 section:nth-of-type(5) {
  display: flex;
  justify-content: center;
}

.groen {
  display: flex;
  justify-content: center;
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  color: #43b02a;
}

#pag2 section:nth-of-type(6) {
margin: 2rem 1rem 3rem 1rem;
}

#pag2 section:nth-of-type(6) h3 {
  margin-bottom: 1rem;
  font-family: 'Exo', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}


/* Buttons */




.v1 {
  height: 48px;
  width: 48px;
  padding: .5rem;
  border-radius: 5px;
  border: 3px solid #009fdf;
  background: #1c1c1c;
  vertical-align: top;
  margin-right: 1rem;
}

.v2 {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  border: none;
  background-color: #005eb8;
  vertical-align: top;
  margin-right: 1rem;
}

.v3 {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: white;
  vertical-align: top;
  margin-right: 1rem;
}

.v4 {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: #FE2E2E;
  vertical-align: top;
  margin-right: 1rem;
}

.v5 {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: #A9F5A9;
  vertical-align: top;
  margin-right: 1rem;
}

.v6 {
  margin: 1.5rem .25rem 1.5rem .25rem;
  padding: .75rem 1rem;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #009fdf;
  border-radius: 8px;
  color: white;
  background-color: #009fdf;
}

.v6:hover {
  border: 1px solid #009fdf;
  transition: .25s ease-in-out; 
}

.v7 {
  margin: 1.5rem .25rem 1.5rem .25rem;
  padding: .75rem 1rem;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid lightgrey;
  border-radius: 8px;
  color: black;
}

.v7:hover {
  border: 1px solid #009fdf;
  transition: .25s ease-in-out; 
}

.v8 {
  margin: 1.5rem .25rem 1.5rem .25rem;
  padding: .75rem 1rem;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid lightgrey;
  border-radius: 8px;
  color: black;
}

.v8:hover {
  border: 1px solid #009fdf;
  transition: .25s ease-in-out; 
}